@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

.minesweeper-game {

}

.board {
    /* Injected variables */
    --rows: 'number of rows in the puzzle';
    --cols: 'number of cols in the puzzle';
    --cell-size: 40px;

}

.board--game-over {

}

.board__grid {
    display: grid;
    grid-template-rows: repeat(var(--rows), var(--cell-size));
    grid-template-columns: repeat(var(--cols), var(--cell-size));

}

.game-square {
    border: solid gray 1px;
    background-color: lightgray;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    --mine-probability: 0;
    --mine-probability-color: hsl(0, calc(var(--mine-probability) * 100%), 80%);
    /*--mine-probability-color: hsl(0, 50%, 50%);*/
}

.game-square--flagged,
.game-square--pristine {
    --border-width: calc(var(--cell-size) * .1);
    border: outset white var(--border-width);
    cursor: pointer;
}

.game-square--pristine:hover {
    background-color: grey;
}

.game-square--neighbours-known {
    --size: calc(var(--cell-size) * .9);
    font-family: 'Roboto Slab', serif;
    font-size: var(--size);
    line-height: var(--size);
}

.game-square--flagged {
    background-image: url("../img/flag-1.svg");
}

.game-square--mined {
    background-image: url("../img/mine-6.svg");
}

.game-square--flagged.game-square--mined {
    background-image: url("../img/flagbomb.svg");
}

.game-square--killer-mine {
    background-color: red;
    background-size: 90%;
}

.game-square--on-frontier-and-unknown {
    background-color: lightgoldenrodyellow;
}

.game-square--has-known-probability {
    background-color: var(--mine-probability-color);
}

.game-square--known-non-mine {
    background-color: lightgreen;
}

.game-square--has-some-chance-of-being-a-mine {
    background-color: red;
}

.game-square--known-mine {
    background-color: red;
}


.game-controls {
    height: 20vh;
}

.textbox {

}

.textbox--small {

}

.game-button {

}

.restart-button {

}
