.game-state-indicator {

}


.game-over-indicator {
    --size: 40px;
    height: var(--size);
    width: var(--size);
    border: solid black 2px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.game-over-indicator--success {
    /*background-color: green;*/
    background-image: url("../img/win-2.svg");
}

.game-over-indicator--failure {
    /*background-color: red;*/
    background-image: url("../img/fail-5.svg");
}

.game-over-indicator--game-over {
    transition: background-color;
    border-color: lawngreen;
}

.game-status-text {

}
